@charset "utf-8";
@font-face {
	font-family: 'carbon';
	src: url('../fonts/carbon.eot?') format('eot'), url('../fonts/carbon.otf') format('opentype'), url('../fonts/carbon.woff') format('woff'), url('../fonts/carbon.ttf') format('truetype'), url('../fonts/carbon.svg#carbon') format('svg');
}
@font-face {
	font-family: 'helvetica';
	src: url('../fonts/helvetica.eot?') format('eot'), url('../fonts/helvetica.otf') format('opentype'), url('../fonts/helvetica.woff') format('woff'), url('../fonts/helvetica.ttf') format('truetype'), url('../fonts/helvetica.svg#helvetica') format('svg');
}
@font-face {
	font-family: 'helveticaBold';
	src: url('../fonts/helveticaBold.eot?') format('eot'), url('../fonts/helveticaBold.otf') format('opentype'), url('../fonts/helveticaBold.woff') format('woff'), url('../fonts/helveticaBold.ttf') format('truetype'), url('../fonts/helveticaBold.svg#helveticaBold') format('svg');
}
@font-face {
	font-family: 'neo';
	src: url('../fonts/neo.eot?') format('eot'), url('../fonts/neo.otf') format('opentype'), url('../fonts/neo.woff') format('woff'), url('../fonts/neo.ttf') format('truetype'), url('../fonts/neo.svg#neo') format('svg');
}
body {
	margin: 0px;
	padding: 0px;
}
.texto_carbon {
	position: absolute;
	color: #014c64;
	text-align: center;
	font-family: 'carbon', Arial;
}
.texto_helveticaBold {
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: 'helveticaBold', Arial;
}
.texto_helvetica {
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: 'helvetica', Arial;
}
.texto_neo {
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: 'neo', Arial;
}
#screem {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
#logo {
	position: absolute;
	height: 45%;
	top: 22%;
	left: 50%;
}
.plecas {
	position: absolute;
	width: 100%;
	height: 7%;
	overflow: hidden
}
#cargar {
	position: absolute;
	top: 80%;
	left: 50%;
}
#naranja {
	position: absolute;
	background-color: #f7941e;
	height: 3px;
	top: 80%;
	left: 50%;
}
#cargando {
	top: 84%;
	height: 4%;
	width: 100%;
}
/*-----IDIOMAS-----*/

#idiomas {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
#logo2 {
	position: absolute;
	height: 50%;
	top: 4%;
	left: 50%;
}
.fondo_idiomas {
	position: absolute;
	height: 36%;
	left: 50%;
	bottom: 0px;
}
#titulo_idiomas {
	width: 100%;
	top: 3%;
	position: absolute;
	height: 16%;
	text-align: center;
	text-shadow: 1px 1px 2px #1C3885;
}
#es1, #en1 {
	height: 15%;
	width: 100%;
	color: #46768d;
}
#es2, #en2 {
	height: 15%;
	width: 100%;
	color: #fff;
}
#es1, #en1 {
	height: 15%;
	width: 100%;
	color: #46768d;
}
.sombraazul {
	text-shadow: 1px 1px 2px #1C3885;
}
.sombraverde {
	text-shadow: 1px 1px 2px #11520A;
}
/*-----LOGIN-----*/




#login {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
.boton_login {
	height: 22%;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 40%
}
#bt_login {
	height: 7%;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 68%
}
.tes {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 6em;
	color: #0099cc;
}
.tes_chico {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.5em;
	color: #006699;
}
.tes_chico2 {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.7em;
	color: #007bb6;
}
.plecas2 {
	position: absolute;
	width: 100%;
	height: 7%;
	overflow: hidden;
	opacity: 0.3
}
.bt_blanco {
	position: absolute;
	width: 100%;
	height: 6%;
	overflow: hidden;
	border-top: 2px solid #badbeb;
	background-color: #FFFFFF;
	color: #007bb6;
	text-align: center;
	cursor: pointer;
	padding-top: 2%
}
.email_error {
	height: 9.45%;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 40%;
	margin-left: -3px;
}
.pass_error {
	height: 9.45%;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 49.6%;
	margin-left: -3px;
}
.email_caja {
	height: 9.45%;
	position: absolute;
	top: 40%;
	margin-left: -3px;
	left: 50%;
}
.email_caja_campo {
	position: absolute;
	text-align: center;
	background: none;
	border: none;
	font-size: 1.2em;
	color: #073c78;
	font-family: helvetica;
	width: 64%;
	padding-left: 18%;
	padding-right: 18%;
	height: 100%;
}
.pass_caja {
	height: 9.45%;
	position: absolute;
	top: 49.6%;
	margin-left: -3px;
	left: 50%;
}
.pass_caja_campo {
	position: absolute;
	text-align: center;
	background: none;
	border: none;
	font-size: 1.2em;
	color: #073c78;
	font-family: helvetica;
	width: 64%;
	padding-left: 18%;
	padding-right: 18%;
	height: 100%;
}
/*REGISTRO*/

#registro {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
#pass2 {
	position: absolute;
	height: 20%;
	top: 60%;
	left: 50%;
}
.campo {
	position: absolute;
	height: 36%;
	left: 50%;
}
#contiene_pass {
	position: absolute;
	top: 60%;
	left: 50%;
}
#bt_registro {
	border: none;
	background: none;
	position: absolute;
	height: 9%;
	top: 84%;
	left: 50%;
	cursor: pointer;
	background: url(../imagenes/registrar.png) no-repeat;
	background-position: center;
	background-size: 80%
}
#t_reg {
	top: 4%;
	height: 13%;
	width: 100%;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(28, 56, 133, 0.5);
}
#t_ple {
	top: 79%;
	height: 5%;
	width: 100%;
	color: #006699;
	cursor: pointer
}
#cancelar {
	top: 95%;
	height: 5%;
	width: 100%;
	color: #006699;
	cursor: pointer;
	font-size:0.9rem
}
.caja {
	height: 8.6%;
	position: absolute;
	margin-left: -3px;
	left: 50%;
}
.caja_campo {
	position: absolute;
	text-align: center;
	background: none;
	border: none;
	font-size: 1.2em;
	color: #073c78;
	font-family: helvetica;
	width: 95%;
	left: 2.5%;
	height: 100%;
}
/*-----EXITO-----*/


#exito {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
#c_qr {
	position: absolute;
	height: 36%;
	top: 36%;
	left: 50%;
}
#bt_start {
	position: absolute;
	height: 19%;
	top: 80%;
	left: 50%;
	cursor: pointer
}
#t_exi {
	top: 2%;
	height: 13%;
	width: 100%;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(28, 56, 133, 0.5);
}
#t_here {
	top: 18%;
	height: 7%;
	width: 100%;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(28, 56, 133, 0.5);
}
/*-----HOME-----*/


#home {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
.bt_home {
	height: 9%;
	position: absolute;
	width: 100%;
}
#t_hom {
	height: 100%;
	width: 100%;
	color: #008dc4;
	position: absolute;
	top: 0%;
	text-align: left
}
#t_salir {
	height: 100%;
	width: 100%;
	color: #333333;
	position: absolute;
	top: 0%;
	text-align: left;
	font-family: neo
}
.t_bthome {
	height: 40%;
	color: #fff;
	position: absolute;
	top: 25%;
	text-align: left;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	left: 25%
}
#t_wel {
	height: 22%;
	color: #666666;
	position: absolute;
	top: 50%;
	width: 100%
}
.plecas3 {
	position: absolute;
	width: 100%;
	height: 9%;
	overflow: hidden;
	opacity: 1
}
.iconos {
	top: 20%;
	left: 5%;
	position: absolute;
	height: 60%
}
/*-----HORARIOS-----*/


#horarios {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
#dia_uno, #dia_dos, #dia_tres {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
.menu {
	width: 20%;
	height: 100%;
	position: absolute;
	background-image: url(../imagenes/fondo_menu.png);
	background-size: 100%;
}
.contenido {
	width: 100%;
	position: absolute;
	height: 100%;
	overflow: auto
}
.botones_menu {
	position: relative;
	float: left;
	width: 100%;
	height: 12%
}
.seleccionado {
	position: absolute;
	width: 120%;
	left: 0px;
	height: 12%;
	background: url(../imagenes/seleccionado.png) no-repeat;
	background-size: 100% 100%;
}
#botones_menu1 {
	background: url(../imagenes/menu_icono1.png) no-repeat;
	background-position: center;
	background-size: auto 35%
}
#botones_menu2 {
	background: url(../imagenes/menu_icono2.png) no-repeat;
	background-position: center;
	background-size: auto 40%
}
#botones_menu3 {
	background: url(../imagenes/menu_icono3.png) no-repeat;
	background-position: center;
	background-size: auto 40%
}
#botones_menu4 {
	background: url(../imagenes/menu_icono4.png) no-repeat;
	background-position: center;
	background-size: auto 40%
}
#botones_menu5 {
	background: url(../imagenes/menu_icono5.png) no-repeat;
	background-position: center;
	background-size: auto 40%
}
#botones_menu6 {
	background: url(../imagenes/menu_icono6.png) no-repeat;
	background-position: center;
	background-size: auto 40%
}
#botones_menu7 {
	background: url(../imagenes/menu_icono7.png) no-repeat;
	background-position: center;
	background-size: auto 35%
}
#botones_menu8 {
	background: url(../imagenes/menu_icono8.png) no-repeat;
	background-position: center;
	background-size: auto 40%
}
.titulo_horarios2 {
	width: 98%;
	height: 12%;
	position: relative;
	float: left;
	right: 2%;
}
.titulo_horarios, .titulo_horarios2a, .titulo_horarios3a, .titulo_horarios4a, .titulo_horarios5a, .titulo_horarios6a, .titulo_horarios7a, .titulo_horarios8a, .titulo_horarios9a, .titulo_horarios10a, .titulo_horarios11a, .titulo_horarios12a, .titulo_horarios13a, .titulo_horarios14a, .titulo_horarios15a, .titulo_horarios16a, .titulo_horarios17a, .titulo_horarios1b, .titulo_horarios2b, .titulo_horarios1c, .titulo_horarios1d, .titulo_horarios1e, .titulo_horarios1f, .titulo_horarios2f, .titulo_horarios1g {
	top: 10%;
	height: 40%;
	position: absolute;
	width: 100%;
	color: #02687a;
	text-align: right
}
.fecha_horarios, .fecha_horarios2a, .fecha_horarios3a, .fecha_horarios4a, .fecha_horarios5a, .fecha_horarios6a, .fecha_horarios7a, .fecha_horarios8a, .fecha_horarios9a, .fecha_horarios10a, .fecha_horarios11a, .fecha_horarios12a, .fecha_horarios13a, .fecha_horarios14a, .fecha_horarios15a, .fecha_horarios16a, .fecha_horarios17a, .fecha_horarios1b, .fecha_horarios1c, .fecha_horarios1d, .fecha_horarios1e, .fecha_horarios1f, .fecha_horarios2f, .fecha_horarios1g {
	top: 54%;
	height: 18%;
	position: absolute;
	width: 100%;
	color: #333333;
	text-align: right
}
.dia {
	height: 21%;
	position: relative;
	float: left;
	width: 100%;
}
.dia_dia {
	width: 25%;
	left: 25%;
	height: 100%;
	position: absolute;
}
.dia_linea {
	width: 3px;
	height: 60%;
	top: 20%;
	left: 55%;
	position: absolute;
	background-color: #0099a8;
	opacity: 0.7
}
.dia_fecha {
	width: 30%;
	height: 100%;
	left: 60%;
	position: absolute;
}
.dia_flecha {
	width: 10%;
	height: 100%;
	left: 90%;
	position: absolute;
	background: url(../imagenes/flechita2.png) no-repeat;
	background-position: center;
	background-size:auto 25%
}
.day {
	top: 20%;
	height: 18%;
	position: absolute;
	width: 100%;
	color: #0099a8;
	font-weight: bold
}
.day_numero {
	top: 45%;
	height: 28%;
	position: absolute;
	width: 100%;
	color: #0099a8;
	font-weight: bold
}
.day_fecha {
	top: 35%;
	height: 22%;
	position: absolute;
	width: 100%;
	color: #333333;
	text-align: left
}
.share_centro {
	position: absolute;
	max-width: 450px;
	margin-left: 20px;
	top: 20px;
	text-align: center;
	font-size: 50px;
	width: 60%;
	color: #333
}
.myqr {
	width: 100%;
	height: 88%;
	position: relative;
	float: left;
	background-color: #e5f4f7
}
.share {
	width: 100%;
	height: 88%;
	position: relative;
	float: left;
	background-color: #e5f4f7
}
.horario_conferencia {
	position: relative;
	float: left;
	width: 100%;
	font-family: helvetica;
}

.horario_conferencia_flecha{ 
	background:url(../imagenes/flechita2.png) no-repeat;
	background-position:98% 45%;
	background-size:auto 30px;
}
.horario_temas {
	font-size: 1.2rem;
	color: #ff0099;
	padding: 20px;
	padding-left: 30%;
	padding-right: 8%
}
.horario_todo {
	font-size: 1.2rem;
	color: #333;
	padding: 20px;
	padding-left: 30%;
	padding-right: 8%
}
.campos_login {
	width: 78%;
	height: 42%;
	left: 19%;
	position: absolute;
	margin-left: 2px;
	border: none;
	background: none
}
.clearing {
	clear: both;
}
#expositores {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
#expositores2 {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
#redes {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
#mapa {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
#qr {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
#myqr {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
#scan {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
#camara {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}
.redonda {
	width: 150px;
	height: 150px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	overflow: hidden;
	border: 5px solid #FFFFFF;
	background-size: 100% 100%;
	position:relative;
	float:left;
}


#agrandar{
	-ms-transform: scale(1.6); /* IE 9 */
    -webkit-transform: scale(1.6); /* Safari */
    transform: scale(1.6);
	position:absolute;
	top:430px;
	left:45%
}
.ir_map {
	cursor: pointer
}
/*.tes{
	position:absolute; width:100%;
	height:100%;
	text-align:center;
	font-size:17vh;
	top:0px;
}*/

.sponsor {
	width: 100%;
	height: 7%;
	position: absolute;
	top: 0px;
	background: url(../imagenes/sponsor.png) no-repeat;
	background-position: center;
	background-size: auto 95%;
	cursor: pointer
}
#publi_imagen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../imagenes/deu.png) no-repeat;
	background-position: center;
	background-size: auto 70%
}
#lin_p {
	position: absolute;
	width: 60%;
	height: 70%;
	left:20%;
	top:15%;
	border:1px
}
#deu{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../imagenes/fondo2.jpg) no-repeat;
	background-size: 100% 100%
}
#tache{
	position: absolute;
	width: 60px;
	height: 60px;
	background: url(../imagenes/tache.png) no-repeat;
	right:20px;
	top:20px;
	cursor:pointer 
}

#tema1, #tema2, #tema3, #tema4, #tema5, #tema6, #tema7, #tema8, #tema9, #tema10, #tema11, #tema12, #tema13{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #FFFFFF
}





.twitter-wrapper
{
  width:300px; 
  margin:auto;
  padding:70px 35px;
  border-radius:50%;
  background:#333;
  box-shadow:
    0px 0px 50px #222 inset,
    0px -20px 20px #000 inset,
    0px 25px 20px #222 inset;
  text-align:center;
font-size:40px;
}




@media (max-height: 4000px) and (min-height: 701px) {
   #t1_t1 { font-size: 4.5rem;
   line-height:4.2rem }
   #t1_t2, #email, #pass, .tes_chico2 { font-size: 1.6rem;
   line-height:1.8rem }
   .horario_temas {
	font-size: 1.2rem;}
	.horario_todo {
	font-size: 1.2rem;}
}

@media (max-height: 700px) and (min-height: 100px) {
   #t1_t1 { font-size: 2.6rem;
   line-height:2.6rem }
   #t1_t2, #email, #pass, .tes_chico2 { font-size: 1.1rem;
   line-height:1.2rem }
   .horario_temas {
	font-size: 0.9rem;}
	.horario_todo {
	font-size: 0.9rem;}
}


